.header {
    width: 100%;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    color: white;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    background: purple;
  }
  

.title {
  float: left;
  font-family: "Montserrat", sans-serif;
}

.scores {
  float: right;
  font-family: "Montserrat", sans-serif;
}